$color_grid_base:brown;
$color_grid_grillas:rgb(196, 104, 104);




//Colors Primary

$color_violet: hsl(263, 55%, 52%);
$color_violet_claro: hsl(264, 44%, 71%);
$color_grayish_bluee: hsl(217, 19%, 35%);
$color_grayish_blueeClaro:hsl(217, 20%, 63%);
$color_blackish_blue: hsl(219, 29%, 14%);
$color_white: hsl(0, 0%, 100%);

//Neutral

$color_gray: hsl(0, 0%, 81%);
$color_grayish_blue: hsl(210, 46%, 95%);